@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
header, #hot-deals{
    background-color: rgba(229, 84, 115, 0.10);
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .banner-text h1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}
.banner-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}
.primary-button{
    background-color: #e55473;
    color: #FFF;
    padding: 15px 28px;
    font-size: 20px;
    border: none;
    -o-border-radius: 8px;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    border-radius: 8%;
}
.banner .banner-text *{
    margin-bottom: 32px;
    max-width: 525px;
}
.banner .banner-img img{
    width: 100%;
    max-width: 525px;
    vertical-align: middle;
}

/* Featured Section Style is Here */
#container{
    max-width: 1920px;
    width: 75%;
    margin: 0 auto;
    padding: 100px 0px;
}

.section-heading{
    max-width: 1440px;
    width: 75%;
    text-align: center;
    margin: 20px auto;
    padding: 30px 0px;
}
.section-title{
    margin-bottom: 16px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}
.section-content{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    gap: 25px;
}
.flower-img{
    -o-border-radius: 300px 300px 0 0;
    -webkit-border-radius: 300px 300px 0 0;
    -moz-border-radius: 300px 300px 0 0;
    -ms-border-radius: 300px 300px 0 0;
    border-radius: 300px 300px 0 0;
    padding: 30px 25px 0px 25px;
    height: 500px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;

}
.flower{
    width: 464px;
    height: 605px;
}
.flower-img img{
    width: 75%;
}
.section-content .flower .green{
    background-color: rgba(71, 125, 17, 0.15);
}
.section-content .flower .blue{
    background-color: rgba(5,151,160, 0.15);
}
.section-content .flower .pink{
    background-color: rgba(167,33,98, 0.15);
}
.section-content .flower p{
    margin-top: 16px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
}
/* Delivery Section Style is Here */
#container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0;
}
.delivery-content{
  background-color: gainsboro;
  
}
.delivery-details{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 80px 50px;
}
.delivery-info{
    font-size: 24px;
    font-weight: 500;
    color: #272727;
    text-align: center;
}

/* Hot Deal Section Style is Here */
.hot-deal-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    
}
.hot-deal-main .hot-deal-text{
    width: 75%;
    max-width: 550px;
    text-align: center;
}
.hot-deal-main .hot-deal-text *{
    margin-bottom: 24px;
}
.hot-deal-main .hot-deal-text h2{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
.hot-deal-main .hot-deal-text .text-highlight{
    color: #e55473;
}
.hot-deal-img{
    width: 75%;
    max-width: 318px;
}
.hot-deal-img img{
    width: 100%;
}
/* Gallery Section Style is Here  */
.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 0 0;
}
.gallery .gallery-img img{
    width: 100%;
}
/* News latter Section Style is Here  */
#newsletter{
    margin: 128px 0;

}
.newsletter-main{
    background-image: url('../images/newsletter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 128px 0;
}
.newsletter-main form{
    display: flex;
    max-width: 800px;
    margin: 20px auto;
}
.newsletter-main input{
    width: 100%;
    max-width: 600px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    border: none;
    flex-grow: 1;
    font-size: 18px;
    outline: 1px solid gainsboro;
    border-color: rgb(100 116 139);
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
/* Footer section Style is Here   */
#footer{
    height: 250px;
    background-color: #272727;
    text-align: center;
    color: white;
}
.container-footer{
    padding-top: 60px;
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}
.footer-col h2{
    font-size: 34px;
    padding: 16px 0;
}
.footer-col .footer-para{
    color: rgba(214, 211, 211, 0.849);
    font-size: 14px;
    padding: 0 0 10px 0;
}
.footer-col .highlight{
    color: #e55473;
}
.social-icons{
    font-size: 13px;
    padding: 10px 0;
    color: #6d6868;
}